* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

a,
input,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
i {
  width: 100%;
  height: 100%;
}

button {
  border: none;
}

ul {
  list-style-type: none;
}

$primary: #eb0165;
$blue: #0165eb;
$green: #65eb01;
$mobile-max: 767px;
$tablet-mini: 768px;
$tablet-max: 1200px;
$desktop-mini: 1201px;
$big-desktop-mini: 1441px;
