* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
input,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
i {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
}

ul {
  list-style-type: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 112px;
  height: 80px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header-container {
    padding: 30px 32px;
  }
}
@media (max-width: 767px) {
  .header-container {
    padding: 30px 15px;
  }
}

.logo-img {
  width: 38px;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
@media (max-width: 767px) {
  .logo-container {
    gap: 8px;
  }
}
@media (min-width: 1441px) {
  .logo-container {
    align-items: center;
  }
}

.nav-desktop__links {
  display: flex;
  justify-content: space-between;
}

.nav-desktop__link a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 5px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 1441px) {
  .nav-desktop__link a {
    font-size: 28px;
  }
}
.nav-desktop__link a:hover {
  opacity: 0.65;
  background-color: #eb0165;
  color: #fff;
}

.contact-link {
  color: #eb0165;
}

.hamburger-icon {
  display: none;
  font-size: 32px;
  padding-top: 3px;
}
@media (max-width: 767px) {
  .hamburger-icon {
    display: block;
  }
}

.logo-text {
  color: #eb0165;
  letter-spacing: 0;
}
.logo-text-span {
  font-style: italic;
}
@media (min-width: 1441px) {
  .logo-text {
    font-size: 3rem;
  }
}

.nav-desktop {
  width: 60%;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .nav-desktop {
    display: none;
  }
}

.nav-mobile {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -4000px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.nav-mobile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 50px 10px 10px 10px;
  gap: 100px;
}
.nav-mobile__link a {
  font-weight: 400;
  font-size: 38px;
  line-height: 21px;
}

.close-icon {
  position: absolute;
  top: 22px;
  right: 19px;
  font-size: 34px;
}

.hero-container {
  position: relative;
}

.hero-slider {
  height: 85vh;
}
@media (max-width: 767px) {
  .hero-slider {
    height: 90vh;
  }
}

@media (max-width: 767px) {
  .hero-slider img {
    object-position: center;
  }
}

.hero-text {
  color: #fff;
  font-weight: 600;
  font-size: 44px;
  font-family: "Caveat", cursive;
}
@media (min-width: 1441px) {
  .hero-text {
    font-size: 52px;
  }
}

.hero-text-box {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 130px;
  padding: 0 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #3c3b3b;
}
@media (min-width: 1441px) {
  .hero-text-box {
    height: 170px;
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .hero-text-box {
    display: none;
  }
}

.hero-slider-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 130px;
  background-color: #eb0165;
  border-radius: 30px;
  color: #fff;
  font-family: "Caveat", cursive;
  padding-top: 10px;
}
.hero-slider-panel__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
}
@media (min-width: 1441px) {
  .hero-slider-panel__heading {
    font-size: 46px;
  }
}
.hero-slider-panel__location {
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
}
@media (min-width: 1441px) {
  .hero-slider-panel__location {
    font-size: 34px;
  }
}
@media (min-width: 1441px) {
  .hero-slider-panel {
    height: 170px;
  }
}
@media (max-width: 767px) {
  .hero-slider-panel {
    width: 100%;
  }
}

.hero-slider-panel__navigation {
  display: flex;
  width: 100%;
}

.hero-slider-panel__back-box,
.hero-slider-panel__next-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #3c3b3b;
  width: 50%;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.hero-slider-panel__back-box:first-child,
.hero-slider-panel__next-box:first-child {
  border-right: 2px solid #fff;
  border-bottom-left-radius: 30px;
}
.hero-slider-panel__back-box:last-child,
.hero-slider-panel__next-box:last-child {
  border-bottom-right-radius: 30px;
}
.hero-slider-panel__back-box:hover,
.hero-slider-panel__next-box:hover {
  cursor: pointer;
}
@media (min-width: 1441px) {
  .hero-slider-panel__back-box,
.hero-slider-panel__next-box {
    height: 68px;
  }
}

.hero-slider-panel__navigation-text-back,
.hero-slider-panel__navigation-text-next,
.arrow-icon {
  font-weight: 400;
  font-size: 26px;
}
@media (min-width: 1441px) {
  .hero-slider-panel__navigation-text-back,
.hero-slider-panel__navigation-text-next,
.arrow-icon {
    font-size: 32px;
  }
}

.hero-slider-panel__navigation-text-back,
.hero-slider-panel__navigation-text-next {
  padding-bottom: 7px;
}
.hero-slider-panel__navigation-text-back:hover,
.hero-slider-panel__navigation-text-next:hover {
  opacity: 0.9;
  font-size: 27px;
}

.hidden {
  display: none;
}

body {
  font-family: "Work Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */